/*
etiqueta normal = nada
etiqueta universal = *
etiqueda de id= #
etiqueda de class = .
*/


*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px green;
    border: 1px solid black;
    background: white;
}

#header{
    height: 145px;
    background-color: cyan;
}
#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}
#logo img{
    float: left;
    height: 100px;
}




body{
    background-color: purple;
}

#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #5a01ea;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:hover{
    background: #5a01ea;
}
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

#lateral{
    width: 30%;
    min-height: 500px;
    float: left;
    border: 1px solid black;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid purple;

}

#lateral h3{
    display: block;
    color: rebeccapurple;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: red;
    border: 2px solid pink;
    
}

input["text"],
input["password"],
input["email"]{
        display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid red;
    box-shadow: 0px 0px 2px pink incert;
    backgroud: white;
    padding: 2px;
    color: grey;
    transition: all 300ms;
}
    
input["text"],
input["password"],
input["email"]{
    
}

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background: purple;
    color: whitesmoke;
    border-top: 5px solid pink;
}