/*
etiqueta normal = nada
etiqueta universal = *
etiqueda de id= #
etiqueda de class = .
*/


*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px green;
    border: 1px solid black;
    background: white;
}

img{
    height: 50px;
    width: 100px;
}

#header{
    height: 145px;
    background-color: cyan;
}
#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}
#logo img{
    float: left;
    height: 80px;
}

body{
    background-color: purple;
}

#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #5a01ea;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:hover{
    background: #5a01ea;
}
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

#lateral{
    width: 20%;
    min-height: 500px;
    float: left;
    border: 1px solid rgb(255, 255, 255);
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid purple;

}

#lateral h3{
    display: block;
    color: rebeccapurple;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: red;
        
}

input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    padding: 2px;
    color: grey;
    transition: all 200,s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{

    border: 1px solid #1579b5;
    color: black;

}

input[type="submit"],
input[type="button"],
.button{

    display: block;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #cd29b7 ;
    color: white;
    border: 1px solid #000000;
    cursor: pointer;
}

.button{
    background: #c9c9c9;
    color: white !important;
    text-decoration: none;
}

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background: purple;
    color: whitesmoke;
    border-top: 5px solid pink;
}
#central{
    width: 70%;
    min-height: 500px;
    float: right;
    border-left: 1px solid black;
    box-shadow: -5px -1px 5px black;
    padding: 25px;

}
#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid palevioletred;
    margin-bottom: 20px;
    padding: 20%;
    padding-top: 0px;
}

.product{
    width: 30%;
    border: 1px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.product img{
    height: 150px;
    margin-bottom: 10px;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    counter-reset: grey;
    margin-bottom: 10px;
}

.product a{
    color: rgb(162, 0, 255);
    text-decoration: none;
    padding-bottom: 10px;
}

.product a:hover{
    color: #cd29b7 !important;
}